@model UmTempoEmCasa.Models.Contato

@{
    ViewData["Title"] = "Edit";
}

<div class="formulario" style="padding-left: 10px;">

    <h1>Edit</h1>
    <h4>Contato</h4>
    <hr />
<div class="container" style="text-align: center;">
    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-6 offset-md-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-6 offset-md-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-6 offset-md-3">
                <label asp-for="assunto" class="form-label"></label>
                <input asp-for="assunto" class="form-control" />
                <span asp-validation-for="assunto" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-6 offset-md-3">
                <label asp-for="mensagem" class="form-label"></label>
                <textarea asp-for="mensagem" class="form-control">

                </textarea>
                <span asp-validation-for="mensagem" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a asp-action="Index"><b>Acessar a lista de Contatos</b></a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
