@model UmTempoEmCasa.Models.Refugiado



@{
    ViewData["Title"] = "Create";
}


<div class="formulario" style="padding-left: 10px;">
    
    <h1>Cadastrar</h1>
    <h4>Refugiado</h4>
    <hr />

    <div class="container" style="text-align:center;">
        <div class="row">
            <form asp-action="Create" name="cadastro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Nome" class="form-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Nascimento" class="form-label"></label>
                    <input asp-for="Nascimento" class="form-control" />
                    <span asp-validation-for="Nascimento" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="CPF" class="form-label"></label>
                    <input asp-for="CPF" class="form-control" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Telefone" class="form-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Endereco" class="form-label"></label>
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="CEP" class="form-label"></label>
                    <input asp-for="CEP" class="form-control" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Senha" class="form-label"></label>
                    <input id="password" asp-for="Senha"  type="password" class="form-control" />
                    <span  asp-validation-for="Senha" class="text-danger"></span>
                                        
                </div>
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Senha" class="form-label">Digite a Senha novamente</label>
                    <input id="confirm_password" onChange="validatePassword()" type="password" class="form-control" />
                    <span id="alerta" ></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <input id="botaobloqueado" type="submit" value="Cadastrar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div>
        <a asp-action="Index"><b>Acessar a lista de Refugiados</b></a>
    </div>
</div>
<script>
   
   document.getElementById("botaobloqueado").disabled=true;

    function validatePassword(){
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;

      console.log(password);
      console.log(confirm_password);

       if(password == confirm_password) {

            document.getElementById("alerta").innerHTML="Senhas Iguais";
            document.getElementById("botaobloqueado").disabled=false;


        } else {
            document.getElementById("alerta").innerHTML="Senhas diferentes";
        }
      
}

        
    
    </script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
