
.formulario label {
    background-color: orangered;
    color: white;
    width: 260px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    box-shadow: 0 0 0.2em gray;
}

.formulario a {
    text-decoration: none;
    font-size: 20px;
}

.formulario a:hover {
        color: orangered;
    }

.formulario .form-control:focus {
    border-color: orangered;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 0, 25);
}

.formulario thead {
    font-size: 20px;
    background-color: orangered;
    color: white;
}
.formulario tbody {
    font-size: 20px;
}
